.App {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 80px;
  min-height: 100vh;
  width: 100%;
}

.pet-card {
  background: rgb(220, 220, 220);
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  flex: 1;
}

.pet-card p, h2 {
  margin: 3px;
}

.pets-container {
  display: flex;
  flex-direction: column;
}

.pets-container h1 {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.pet-form {
  display: flex;
  flex-direction: column;
}

.pet-form input {
  margin: 5px;
  padding: 10px;
}

.btn {
  background-color: rgb(11, 132, 112);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(22, 185, 158);
}